fastapi
uvicorn[standard]
python-multipart
jinja2
python-dotenv
pydantic
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-pinecone
langgraph
langgraph-checkpoint-sqlite
pinecone
tavily-python
pypdf
python-docx
faiss-cpu
ipykernel